body {
  background-color: #e4e3ea;
}

header {
  background-color: #604bea;
  height: 6rem;
  max-width: 850px;
  min-width: 250px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: -5px 2px 18px -5px rgba(0, 0, 0, 0.75);
}
header > h1 {
  text-align: center;
  line-height: 6rem;
  color: white;
}

.images-random {
  margin-top: 3rem;
}

main {
  display: flex;
  justify-content: center;
  border: thin solid grey;
  height: 40vh;
  max-width: 600px;
  min-width: 300px;
  margin: 3rem auto;
}
